<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.CommentMapper">

    <select id="pageQuery" resultType="com.sky.vo.CommentAdminVO">
        select c.id, o.number as orderNumber, u.name as userName, u.avatar as userAvatar,
               c.score, c.content, c.create_time as createTime,
               c.reply_content as replyContent, c.reply_time as replyTime
        from comment c
        left join orders o on c.order_id = o.id
        left join user u on c.user_id = u.id
        <where>
            <if test="score != null">
                and c.score = #{score}
            </if>
        </where>
        order by c.create_time desc
    </select>

    <update id="updateReply" parameterType="com.sky.entity.Comment">
        update comment
        set reply_content = #{replyContent}, reply_time = #{replyTime}
        where id = #{id}
    </update>

</mapper>
